/* FONT GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=IM+Fell+Great+Primer:ital@1&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Romanesco&family=Syne+Tactile&display=swap');
/* END OF FONT GOOGLE */

body {
  overflow-x: hidden;
}

/*==================== TOP NAVBAR ======================== */
.container1 {
  width: 100% !important;
  position: relative;
  margin-top: 3.5rem;
}

.top-nav {
  background-color: rgb(230, 211, 211);
  margin-top: 0;
  width: 100% !important;
  height: 30px;
  height: 120px;
}

.top-nav img {
  width: auto;
  height: 100px;
  margin-left: 5rem;
  border-radius: 40px;
  margin-top: 10px;
}

.top-desc i {
  position: absolute;
  margin-left: 37rem;
  margin-top: -4.9rem;
  display: block;
  font-size: 20px;
}

i .bi-telephone {
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}

.top-qna {
  font-family: 'Syne Tactile', cursive;
  font-weight: 900;
  color: rgb(0, 177, 221);
  position: absolute;
  margin-left: 38rem;
  margin-top: -2.9rem;
}
/* ============= END OF TOP NAVBAR ======================= */

/* ============= NAVBAR ================================= */
a.dropdown-item:hover {
  color: rgb(255, 255, 255) !important;
}

nav {
  background-color: #fd7e14;
  width: 100%;
}

ul .navbar-nav {
  margin-left: 6rem;
}

.nav-item a {
  margin-left: 1rem;
}

.dropdown-item:hover {
  background-color: unset;
  color: bisque;
}
/* =================== END OF NAVBAR ===================== */

/* ==================== HERO ============================= */
.hero img {
  width: 100%;
  height: 650px;
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.small-text .one {
  position: absolute;
  margin-top: -25rem;
  margin-left: 33rem;
  font-size: 40px;
  color: rgb(187, 187, 187);
}

.small-text .two {
  position: absolute;
  margin-top: -21rem;
  margin-left: 20rem;
  font-size: 55px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

button#read-more:hover {
  background-color: rgb(0, 101, 255);
}
/* ==================== END OF HERO ==================== */

/* ===================== DISPLAY ========================*/
.display figure img {
  width: 100%;
  height: 600px;
  margin-left: 0.4rem;
  margin-top: -7rem;
  border-radius: 0 0 50% 50%;
  position: absolute;
}
/* ================== END OF DISPLAY  ================= */

/* ============= LASTEST PRODUCTS ====================== */
.l-products span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin-left: 37rem;
  border-bottom: 3px solid #fd7e14;
  font-size: 20px;
  margin-top: -2rem;
  position: absolute;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  z-index: 999;
}

.img img {
  border-radius: 15px 15px 0 0;
}

.service {
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  width: 275px;
  height: 390px;
  box-shadow: 1px 0px 5px grey;
  border-bottom: 3px solid orange;
  border-radius: 15px;
  background-color: white;
}

.service h3 {
  color: #007bff;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

p#price {
  color: #28a745;
}

.bi-cart {
  color: white;
}

button#pesan {
  color: white;
  background-color: #fd7f34;
  margin-top: -0.1rem;
}

hr#one {
  width: 1265px;
  margin-top: -11.1rem;
  margin-left: 3rem;
}

hr#two {
  width: 1265px;
  margin-top: 1rem;
  margin-left: 3rem;
}
/* =========== END OF LASTEST PRODUCTS ================= */

/* ================== FOOTER =========================== */
footer {
  width: 100%;
  height: 280px;
  background-color: rgb(136, 145, 151);
}

.about {
  text-align: center;
  width: 500px;
  height: 230px;
  border-radius: 20px;
  float: left;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 3rem;
  margin-top: 3rem;
}

.link {
  width: 600px;
  float: right;
  text-align: center;
  margin-top: 3rem;
}

.link h3 {
  display: inline-block;
  margin-top: 1rem;
  margin-left: -5rem;
  margin-right: 6.5rem;
  text-decoration: none;
  font-size: 25px;
}

#facebook {
  color: #0d6efd;
  font-size: 30px;
}

#mess,
#tele {
  font-size: 30px;
  color: #006aff;
}

#ig {
  font-size: 30px;
  color: #833ab4;
}
#link {
  font-size: 30px;
  color: #0077b5;
}
/* ================== END OF FOOTER =========================== */

@media (max-width: 568px) {
  body {
    width: auto;
    overflow-x: hidden;
  }

  nav {
    width: 100% !important;
    position: relative;
  }

  .container1 {
    width: 100% !important;
  }

  .top-desc i {
    margin-left: 140px;
    position: absolute;
    margin-top: -4.5rem;
    font-size: 15px;
  }

  .top-nav {
    width: 100% !important;
  }

  .top-nav img {
    margin-left: 0.4rem;
  }

  .top-qna {
    margin-left: 140px;
    position: absolute;
    font-size: 13px;
  }

  .hero img {
    width: 100%;
    height: 458px;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
  }

  .small-text .one {
    position: absolute;
    margin-top: -19rem;
    margin-left: 2rem;
    font-size: 27px;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }

  .small-text .two {
    position: absolute;
    margin-top: -17rem;
    margin-left: 2rem;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .display figure img {
    width: 420px;
    height: 250px;
    margin-left: -1.2rem;
    margin-top: -7rem;
    border-radius: 0 0 50% 50%;
    position: absolute;
  }

  .l-products span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-left: 7.7rem;
    border-bottom: 3px solid #fd7e14;
    font-size: 20px;
    margin-top: -27rem;
    position: absolute;
  }

  .l-products hr#one {
    width: 100%;
    margin-left: 0rem;
    margin-top: -25rem !important;
    position: absolute;
  }

  .services {
    margin-top: -24rem;
  }

  .about {
    width: 480px;
    height: 230px;
    border-radius: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3rem;
    font-size: 10px;
    float: none;
    box-sizing: border-box;
    display: contents;
  }

  .about strong {
    margin-left: 3rem !important;
  }

  .link {
    margin-top: 0rem;
    margin-left: -2rem !important;
    float: none;
  }
}
